server {
    listen 80 default_server;
    server_name _;

    large_client_header_buffers 4 32k;
    client_max_body_size 50M;
    charset utf-8;

    #access_log /home/{{ taiga_back_username }}/logs/nginx.access.log;
    #error_log /home/{{ taiga_back_username }}/logs/nginx.error.log;

    # Frontend
    location / {
        root /home/{{ taiga_back_username }}/taiga-front-dist/dist/;
        try_files $uri $uri/ /index.html;
    }

    include /etc/nginx/taiga-includes/*;
}
